# Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# Addressables
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*/*.bin*
[Aa]ssets/[Ss]treamingAssets/aa*
[Aa]ssets/[Ss]treamingAssets/aa.meta

# IDEs / Editors
.vs/
.gradle/
.idea/
ExportedObj/
.consulo/

# Visual Studio / JetBrains
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Crash / debug
*.log
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
crashlytics-build.properties

# Packages & builds
*.apk
*.aab
*.app
*.unitypackage
*.unitypackage.meta

# OS
.DS_Store
Thumbs.db
